<div class="modal-body">
  <p><span class="font-weight-bold">Location:</span> ${element.location}</p>
  <p><span class="font-weight-bold">Date Posted:</span> ${element.dateposted}</p>
  <p><span class="font-weight-bold">Recruiter:</span> ${element.recruiter}<p>
  <p><span class="font-weight-bold">Salary:</span> ${element.salary}</p>
  <p><span class="font-weight-bold">Description:</span> ${element.desc}</p>
  </div>
<table class="table table-borderless">
    <tr>
       <th>Location: </th>
       <th>Date Posted:</th>
       <th>Recruiter:</th>
       <th>Salary:</th>
       <th>Description:</th>
   </tr>
</table>
      