/*Flex*/
/*.flex-container {
  display: flex;
  flex-wrap: wrap;
}*/


/*Links*/ 



 /*Links*/

 .title:active{
    color: #007bff;
    background-color:transparent;
    text-decoration: none;
 }

   .title:hover{  
    /*color: #6c757d;*/
    color: #941129;
    /*font-size: 150%;*/
    background-color: transparent;
  text-decoration: none;

 } 

 
 .title :active{
  color: rgb(78, 91, 103);
  background-color: transparent;
  text-decoration: none;

} 

 .title :visited {
  color: rgb(105, 50, 50);
  background-color: transparent;
  
 
} 


 /*Buttons*/
 /* ( doesn't work unclear why).apply :link { /* unvisited Button */
    /*color: #ffff !important;
    background-color: #17a2b8 !important;
    border-color:#17a2b8;
  }*/
    .apply {
    background-color: #17a2b8 !important;
  }

  .cancelbtn {
    background-color: #17a2b8 !important;
  }

 /* ( doesn't work unclear why) .view :link { /* unvisited Button */
    /*color: #212529;
    background-color: #cbd2d8;
    border-color:#cbd2d8;
 } */

 .view { /* unvisited Button  (#007bff , #43c7d3)*/
  color: #212529;
  background-color: #007bff !important;
  border-color:#cbd2d8;
} 

.apply, .view:visited { /* visited Button */
  background-color: rgb(77, 28, 28);
    border-color:rgb(77, 28, 28);
    color: #ffff;
    
  }
  
  
.apply, .view:hover { /* mouse over Button */
    color: #311d21  ;
    background-color: rgb(78, 91, 103 ) ;
    border-color:rgb(78, 91, 103);
    text-decoration: none; 
     }

     .view:hover { /* mouse over Button */
      color: #212529  ;
      background-color: rgb(78, 91, 103 ) ;
      border-color:rgb(78, 91, 103);
      text-decoration: none; 
       }
  
  
.apply, .view:active { /* selected Button */
    color: #ffff;
    background-color:rgb(39, 112, 58);;
    border-color:#4ba1bb;
    
  }


  .borderpg2 {
    /*border: rgb(109, 107, 107);*/
    border-style: groove;
    box-shadow: 4px 5px rgb(206, 204, 204) ;
    
    
  } 